body{
  font-family: 'helvetica', sans-serif;
  background-color: #E6D8C1;
}

h3{
  font-size: 22px;
}

strong{
  font-weight: 600;
}

.red{
  color: #CD5C5C
}
/* Override Boostrap */
.container{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto
}
.btn-primary{
  background-color: CornflowerBlue  !important;
  border-color: darkgray;
}

.btn-success {
    background-color: #D2B48C   !important;
    color: black
}

.card-header{
  font-weight: 500;
  font-size: 21px;
}

.card-title{
  font-weight: bold;
}

.shadow{
  box-shadow: 6px 6px 10px 2px grey;
}
/* NAVBAR */
.navbar{
  height:75px;
}

.navbar-brand{
  font-size: 35px;
  margin-left: 38px;
}

/* Main Page CSS */
/* main area */
.contentArea{
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 45px;
  border-left: solid;
  border-right: solid;
  border-width: 3px;
  border-color: darkgray;
}
.groupsHeader{
font-size: 24px
}
.wholepage{
  padding: 0px;
}
.left{
  display: block;
  height: 100vh
}
.hidden{
  display: none;
}
/* TOP */
.greeting{
  font-size: 88px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}
.badge{
  font-size: 35px;
  margin-left: -12px;
}
.bottom-border{
  border-bottom: solid;
  border-color: lightgray;
  margin-bottom: 38px;
}

/* Main Doughnut */
.mainCircle{
  margin-bottom: 10px;
}
#bigNumber{
  font-size: 154px
}
#smallHours{
  font-size: 70px;
}
.pieLabel{
  margin-bottom: 5%;
  text-align: center;
  font-size: 175%
}
#chart{
  padding-left: 0;
  margin-bottom: 6%;
  position:relative;
}
.sideBoard{
  margin-bottom: 10%;
  font-size: 20px
}

/* SET GOAL form */
.leftSideMid {
  display: block;
  border-right: none;
  width: 86%;
  margin-left: 14%;
  position: absolute;
  bottom: 0;
}
#addGoal{
  height: 55px;
  margin-right: 10px;
}
#sendGoal{
  height: 55px;
  width: 28%
}
#label{
  font-size: 33px;
  margin-right: 15px;
  margin-top: 9px;
}
#setGoal{
  font-weight: 500;
  font-size: 20px;
}
/* Add new exp */
.rightSideMid{
  display: block;
  margin-top: 2%;
}

#addExp{
  display: inline-block;
}


#extitle{
  margin-bottom: 3px;
}
#midRow{
  margin-top: -30px;
}
#passion{
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 29px
}
#welcome{
  text-align: left;
  margin-left: -25px;
  margin-bottom: 25px;
  margin-right: -25px;
}
#rightContent{
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}
#leftContent{
  border-right: solid;
  border-left-color: lightgray;
  border-width: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  height: auto;
}

#hours{
  font-weight: normal;
  font-size: 26px;
  font-family: 'helvetica', sans-serif;
  margin-left: 10px;
}

#groupChart{
  margin-top: 20px;
}
#topRow{
  margin-bottom: -10px
}

#groupsInfoRow{
  /* margin-bottom: 30px; */
}

#groupInfo{
  padding-top: 25px;
  padding-left: 15px;
}

#timeHeader{
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Lobster', cursive;
  font-size: 50px
}

#beforeChart{
  margin-top: 30px;
  border-top: solid;
  border-color: lightgray;
  border-width: 2px;
  margin-left: -26px;
  margin-right: -26px
}

/* CHART */
#mainChart{
  /* box-shadow: 1px 8px 18px 0px grey; */
  margin-bottom: 50px;
  border: solid;
  border-color: lightgray;
  border-width: .5px
}

.org{
  fill: lightgray;
}

.org path,
.org line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 410px;
  height: 248px;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
}

.chart-title{
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: black;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-subtitle{
  font-size: 21px;
}

.chart-text{
  font-size: 18px;
}

.tick text{
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.legend{
  margin-bottom: 5px;
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  #bigNumber{
    font-size: 114px;
  }
  #smallHours{
    font-size: 50px;
  }
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  #leftContent{
  border-right: solid;
  border-left: none;
  border-right-color: lightgray;
  border-width: 1px;
}
#bigNumber{
  font-size: 270px;
}
#smallHours{
  font-size: 100px;
}
#setGoal{
  font-weight: 500;
  font-size: 25px;
  margin-top: 5px;
}
.pieLabel{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15%
}
#recent{
  display: none
}
#passion{
  margin-top: 0;
  margin-bottom: 10px;
}
.sideBoard{
  margin-bottom: 4%;
  font-size: 20px
}
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #leftContent{
  border-right: solid;
  border-left: none;
  border-right-color: lightgray;
  border-width: 1px;
  position: relative;
  height: auto;
}
#bigNumber{
  font-size: 140px;
}
#smallHours{
  font-size: 60px;
}
.pieLabel{
  margin-bottom: 10%
}
.leftSideMid {
  display: block;
  border-right: none;
  width: 86%;
  margin-left: 7%;
  position: absolute;
  bottom: 0;
}
#setGoal{
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
}
#sendGoal{
  height: 35px;
  width: 28%
}
#addGoal{
  height: 35px;
  margin-right: 10px;
  width: 7%
}
#label{
  font-size: 25px;
  margin-right: 15px;
  margin-top: 9px;
}
}

/* iPhone 10 and other unusual sizes */
@media (max-width: 678px) {
  #leftContent{
  border-right: none;
  border-left: none;
  border-bottom: solid;
  border-right-color: lightgray;
  border-width: 1px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px
}
#bigNumber{
  font-size: 170px;
}
#smallHours{
  font-size: 70px;
}
.navbar-brand{
  font-size: 35px;
  margin-left: 18px;
}
.leftSideMid {
  border-right: none;
  width: 97%;
  margin-left: 2%;
  position: relative;
}
}

 /* // Small devices (landscape phones, less than 578px) */
 @media (max-width: 478px) {
   #leftContent{
   border-right: none;
   border-left: none;
   border-bottom: solid;
   border-right-color: lightgray;
   border-width: 1px;
   margin-bottom: 30px;
   padding-bottom: 13px;
   padding-left: 10px;
   padding-right: 10px
 }
 #bigNumber{
   font-size: 120px;
 }
 #smallHours{
   font-size: 40px;
 }
 .navbar-brand{
   font-size: 35px;
   margin-left: 18px;
 }
 #recent{
   display: inline-block;
 }
 .org{
   display: none
 }
 .pieLabel{
   font-size: 35px;
   font-weight: bold;
   margin-bottom: 5%
 }
 .leftSideMid {
   border-right: none;
   width: 97%;
   margin-left: 2%;
   position: relative;
 }
 #setGoal{
   font-weight: 500;
   font-size: 20px;
   margin-top: 5px;
 }
 #addGoal{
   height: 55px;
   margin-right: 10px;
   width: 10%
 }
 #sendGoal{
   height: 55px;
   width: 26%
 }
  }
