body{
  font-family: 'helvetica', sans-serif;
}

h3{
  font-size: 22px;
}

strong{
  font-weight: 600;
}

.red{
  color: #CD5C5C
}
/* Override Boostrap */
.btn-primary{
  background-color: CornflowerBlue  !important;
  border-color: darkgray;
}

.btn-success {
    background-color: #D2B48C   !important;
    color: black
}

.card-header{
  font-weight: 500;
  font-size: 21px;
}

.card-title{
  font-weight: bold;
}

.shadow{
  box-shadow: 6px 6px 10px 2px grey;
}
/* NAVBAR */
.navbar{
  height:75px;
}

.navbar-brand{
  font-size: 35px;
  margin-left: 38px;
}

/* Main Page CSS */
.groupsHeader{
font-size: 24px
}

.wholepage{
  padding: 0px;
  background-color: #E6D8C1;
}

.contentArea{
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 45px;
  border-left: solid;
  border-right: solid;
  border-width: 3px;
  border-color: darkgray;
}

.left{
  display: block;
  height: 100vh
}

.hidden{
  display: none;
}

.greeting{
  font-size: 88px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

.badge{
  font-size: 35px;
  margin-left: -12px;
}

.bottom-border{
  border-bottom: solid;
  border-color: lightgray;
  margin-bottom: 38px;
}

.pieLabel{
  margin-bottom: 12%;
  text-align: center;
}

.leftSideMid{
  border-right: solid;
  border-left-color: lightgray;
  border-width: 1px;
  padding-top: 30px;
  height: 97px;
}

.rightSideMid{
  padding-top: 30px;
  height: 97px;
  padding-right: 35px;
  padding-left: 35px;
}

.sideBoard{
  margin-bottom: 10%;
  font-size: 20px
}

#extitle{
  margin-bottom: 3px;
}
#midRow{
  margin-top: -30px;
}
#passion{
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 29px
}
#welcome{
  text-align: left;
  margin-left: -25px;
  margin-bottom: 25px;
  margin-right: -25px;
}
#rightContent{
  /* background-color: lightgray; */
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: -24px
}
#setGoal{
  font-weight: 500;
  font-size: 25px;
  margin-top: 15px;
}
#addGoal{
  margin-left: -62px;
  margin-right: 10px;
}
#sendGoal{
  margin-top: 0px;
  width: 130px;
}

#hours{
  font-weight: normal;
  font-size: 26px;
  font-family: 'helvetica', sans-serif;
}
#chart{
  border-right: solid;
  border-left-color: lightgray;
  border-width: 1px;
  margin-bottom: -10px;
}
#groupChart{
  margin-top: 20px;
}
#topRow{
  margin-bottom: -10px
}

#groupsInfoRow{
  margin-bottom: 30px;
}

#addExp{
  margin-top: 20px;
}

#groupInfo{
  padding-top: 25px;
  padding-left: 15px;
}

#timeHeader{
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Lobster', cursive;
  font-size: 50px
}

#beforeChart{
  margin-top: 30px;
  border-top: solid;
  border-color: lightgray;
  border-width: 2px;
  margin-left: -26px;
  margin-right: -26px
}
/* CHART */
#mainChart{
  /* box-shadow: 1px 8px 18px 0px grey; */
  margin-bottom: 50px;
  border: solid;
  border-color: lightgray;
  border-width: .5px
}

.org{
  fill: lightgray;
}

.org path,
.org line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 410px;
  height: 248px;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
}

.chart-title{
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: black;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-subtitle{
  font-size: 21px;
}

.chart-text{
  font-size: 18px;
}

.tick text{
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.legend{
  margin-bottom: 5px;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { ... }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { ... }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { ... }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { ... }
