body{
  font-family: 'helvetica', sans-serif;
}

h3{
  font-size: 26px;
}

strong{
  font-weight: 600;
}

/* NAVBAR */
.navbar{
  height:75px;
}

.navbar-brand{
  font-size: 35px;
  margin-left:8px;
}

/* Main Page CSS */
.wholepage{
  padding: 0px;
  background-color: #E6D8C1;
}

.contentArea{
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 45px;
  border-left: solid;
  border-right: solid;
  border-width: 3px;
  border-color: darkgray;
}

.left{
  display: block;
  height: 100vh
}

.hidden{
  display: none;
}

.greeting{
  font-size: 58px;
  font-weight: bold;
}

.badge{
  font-size: 35px;
  margin-left: -12px;
}

.bottom-border{
  border-bottom: solid;
  border-color: lightgray;
}

.pieLabel{
  margin-bottom: 15px;
  text-align: center;
}

.leftSideMid{
  border-right: solid;
  border-left-color: lightgray;
  border-width: 1px;
  padding-top: 30px;
  height: 97px;
}

#passion{
  margin-top: 32px;
  margin-bottom: 32px;
}
#welcome{
  text-align: left;
  margin-left: -25px;
  margin-bottom: 25px;
  margin-right: -25px;
}
#rightContent{
  /* background-color: lightgray; */
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: -24px
}
#setGoal{
  font-weight: 500;
  font-size: 25px;
  margin-top: 15px;
}
#addGoal{
  margin-left: -55px;
  margin-right: 10px;
}
#sendGoal{
  margin-top: 0px;
}

#hours{
  font-weight: normal;
  font-size: 23px;
}
#chart{
  border-right: solid;
  border-left-color: lightgray;
  border-width: 1px;
  margin-bottom: -10px
}
#groupChart{
  margin-top: 20px;
}
#topRow{
  margin-bottom: -10px
}
/* CHART */
.org{
  fill: lightgray;
}

.org path,
.org line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 360px;
  height: 228px;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
}

.chart-title{
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.tick: first-of-type{
  display: none
}

.legend{
  margin-bottom: 5px;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { ... }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { ... }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { ... }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { ... }
